<p><strong>Name:</strong> <%= location.name %></p>
<p><strong>Latitude:</strong> <%= location.latitude %></p>
<p><strong>Longitude:</strong> <%= location.longitude %></p>
<p><strong>Radius:</strong> <%= location.radius %></p>